.jumbotron {
	margin: 5px auto;
	/*padding: 30px;*/
	background: url("../img/jumbotron.jpg") no-repeat center center;
}

body {
	padding: 10px;
	background-color: #dae5e1;
	}

.directory {
  cursor: pointer;
}

a:link {
	color: #616468;
}

a:visited {
	color: #728db2;
}


a:hover {
  text-decoration: underline;
  color: #afa1a4;
}

#title {
	letter-spacing: .3em;
}

ul {
	font-size: 1.5em;
}

img {
    height:250px;
    width: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px grey;
    border-radius: 30px;
}

.boxed {
/*	display: inline-block;
	width: 51%;
	text-align: center;
	Add margin: 10px auto;*/
width: 69%;
margin: 10px auto;
}

.websiteImage {
	height: 250px;
	width: 500px;
	margin: 20px auto;

}

.webpageTitle {
	margin: 20px;
	color: #728db2;
}

.websiteDescription {
 padding: 10px;
}

#email {
	margin: 20px;
}

#lowerEmail {
	margin: 50px;
}

.btn-default {
  background-color: rgba(0, 0, 0, 0.74);
  border: rgba(0, 0, 0, 0.74);
  color: rgba(0, 0, 0, 74);
  font-size: 1.5em;
}

.paddingBTN {
  padding-top: 5%;
  padding-bottom: 5%; 
  width: 200px;
  margin-bottom: 25px;
}

hr {
	border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.fa-rocket {
  -moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
}

.oneRocket {
    -moz-transform: scale(1, 1);
-webkit-transform: scale(1, 1);
-o-transform: scale(1, 1);
-ms-transform: scale(1, 1);
transform: scale(1, 1);
}
